*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
	border: none;
	text-decoration: none;
	outline: none;
	color: black;
}

ul,
li {
	list-style: none;
}

body {
	max-width: 1920px;
	margin: 0 auto;

	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 18px;
	/* line-height: 20px; */
}

.container {
	padding: 0 20px;
	margin: 0 auto;
}

.title {
	font-weight: 700;
	font-size: 40px;
	line-height: 40px;
}

button {
	cursor: pointer;
}



@media (min-width: 1600px) {
	body {
		padding: 0 60px;
	}

}

@media (max-width: 768px) {
	.title {
		padding-top: 25px;
			}
}